*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* shared styles */
.btn{
    /* max-width: 190px;
    max-height: 44px; */
    background-color: #30B868;
    border-radius: 4px;
    padding: 12px 16px;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    border:none;
    cursor: pointer;
}

/* new hover effect are added */

.btn:hover{
    background-color: whitesmoke;
    color: #30B868;
    border: 2px solid #30B868;
}

.hero-btn .btn-blank:hover {
    background-color: #FFFFFF;
    color: #30B868;
    border: 2px solid #30B868;
}

/* main style  */

#navbar{
    background-color: #FFFFFF;
    padding: 16px 120px;
    max-width: 1600px;
    opacity: 100%;
    gap: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: gray; */
}

#navbar .nav_logo img{
    width: 139px;
    height: 60px;
    /* background-color: red; */
}

#navbar .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    /* background-color: blue; */
}

.menu a {
    text-decoration: none;
    color: Black;
    font-size: 16px;
    font-weight: 500px;
    opacity: 90%;
    line-height: 152%;
}


.hero-section{
    background-image: url("./M-\ 01-A01-Knowledge-Vault/assets/hero-bg.png");
    background-repeat: no-repeat;
    padding: 70px 120px 134px 120px;
    max-width: 1600px;
    gap: 40px;
    opacity: 100%;
    
}

.hero-section .hero-container{
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    opacity: 100%;
    /* background-color: rgb(23, 23, 193); */
}

.hero-section .hero-container .hero-content{
    max-width: 1360px;
    padding-bottom: 10px;
    gap: 16px;
    opacity: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #e4a0a0; */
}
.hero-section .hero-container .hero-content .sub-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    opacity: 100%;
    border-radius: 1000px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    color:#30B868;
    font-size: 16px;
    font-weight: 500px;
    line-height: auto;
    /* background-color: #171616; */
}

.hero-section .hero-container .hero-content h1{
    max-width: 770px;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    opacity: 90%;
    color: #FFFFFF;
    text-transform: capitalize;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.025);
    /* background-color: #83d2a1; */
}
.hero-section .hero-container .hero-content .green{
    color: #30B868;
}
.hero-section .hero-container .hero-content p{
    max-width: 770px;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.025);
    /* background-color: #83d2a1; */
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 16px;
    opacity: 100%;
}
.hero-btn .btn {
    max-width: 250px;
    gap: 10px;
}
.hero-btn .btn-blank{
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    gap: 10px;
}

#note {
    max-width: 1600px;
    padding: 0 120px;
    opacity: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 44px;
}
#note .section-heading{
    width: 85%;
    max-width: 1360px;
    /* background-color: yellow; */
}

.section-heading h3{
    padding-top: 20px;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #001931;
    opacity: 100%;
    text-transform: capitalize;
    padding-bottom: 16px;
    line-height: 58px;
}

.section-heading p, .early-heading  p, .early-content  p, .note-cards p{
    font-size: 16px;
    font-weight: normal;
    opacity: 100%;
    color: #627382;
    line-height: 20px;
    letter-spacing: 0px;;
}

.note-cards{
    max-width: 1360px;
    display: flex;
    gap: 24px;
    opacity: 100%;
    background-color: #FFFFFF;
    /* background-color: aqua; */
}

.card{
    max-width:315px;
    max-height: 300px;
    border-radius: 8px;
    padding: 24px;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.06);
    
}

.note-cards .card .card-image {
    width: 60px;
    height: 60px;
    opacity: 100%;
    margin-bottom: 16px;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lch(51.92% 101.35 39.58);
}
.note-cards .card .card-image img{
    width: 32px;
    height: 32px;

}
.note-cards .card h3{
    font-size: 20px;
    font-weight: 600px;
    line-height: auto;
    color: #001931;
    opacity: 100%;
    margin-bottom: 10px;
    letter-spacing: 0px;
}

#brain{
    max-width: 1600px;
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: left; */
    background-color: #FFFFFF;
    opacity: 100%;
    gap: 40px;
    /* background-color: #4d14b0; */
}

#brain .brain-container{
    max-width: 1360px;
    max-height: 500px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(220, 86, 24); */
    gap: 60px;
    opacity: 100%;
}
#brain .brain-container .brain-image img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 12px;
    /* background-color: #ec0b0b; */
}
#brain .brain-container .brain-content  {
    width: 100%;
    max-width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    opacity: 100%;
    /* background-color: #e7dfef; */
}

#brain .brain-container .brain-content .brain-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    opacity: 100%;
}

#brain .brain-container .brain-content h6 {
    font-size: 16px;
    font-weight: 500px;
    color: #30B868;
    opacity: 100%;
    line-height: 20px;
    text-transform: uppercase;
}

#brain .brain-container .brain-content , .brain-list  {
    list-style: none;
    gap: 20px;
    opacity: 100%;
    font-size: 16px;
    font-weight: medium;
    color: #001931;
    line-height: 30px;
}

#brain .brain-container .brain-content  .brain-list li i  {
    color: #30B868
}

#early {
    max-width: 1600px;
    padding: 2px 120px 120px 120px;
    background-color: #FFFFFF;
    opacity: 100%;
    align-items: center;
    gap: 40px;
    /* background-color: #d0ddc0; */
}

#early .early-container{
    max-width: 1360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 40px;
    gap: 24px;
    opacity: 100%;
    background-color: hwb(37 93% 2%);
    border-radius: 12px;
    /* background-color: yellow; */
}

#early .early-container h3{
    max-width: 1280px;
    font-size: 40px;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 0px;
    color: #001931;
    opacity: 100%;
    text-transform: capitalize;
    padding-bottom: 16px;

}
#early .early-container .early-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
} 

#footer{ 
    max-width: 1600px;
    padding: 120px 120px 30px 120px;
    background-color: #001931;
    opacity: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;
}

#footer .footer-container{
    width: 100%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: auto;
    opacity: 100%;
}

#footer .footer-container .footer-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 100%;
    gap: 20px;
}
#footer .footer-container .footer-socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    opacity: 100%;
}
#footer .footer-container .footer-socials h6 {
    font-size: 20px;
    font-weight: 500px;
    opacity: 100%;
    color: #FFFFFF;
    line-height: 28px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#footer .footer-credit{
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    opacity: 100%;
    color: #FFFFFF;
    border-top: 2px solid #283038;
    padding-top: 20px;
}