*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


/* shared styles */
.btn{
    max-width: 180px;
    max-height: 44px;
    background-color: #30B868;
    border-radius: 4px;
    padding: 12px 16px;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: semi-bold;
    border:none;
    cursor: pointer;
}

/* main style  */

body{
     background-color: #FBFBFB;
     max-width: 1600px;
     font-family: "Inter", sans-serif;

}
#navigation{
    background-color: #FFFFFF;
    padding: 16px 120px;
    font-weight: 500px;
    /* background-color: gray; */
}
.nevi-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: white; */
}
.nav_logo{
    width: 139px;
    height: 60;;
}
.nav_items{
    display: flex;
    gap: 32px;
    list-style: none;
}
a {
    text-decoration: none;
    color: Black;
}

.hero-section{
    background-image: url("./M-\ 01-A01-Knowledge-Vault/assets/hero-bg.png");
    /* background-color: #001931; */
    /* background-color: yellowgreen; */
    max-width: 100%;
    /* height: 674px; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    padding: 70px 120px 134px 120px;
    gap: 40px;
    opacity: 100%;
}

.hero-container{
    /* width: 85%; */
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    /* background-color: rgb(23, 23, 193); */
}

.hero-content{
    width: 100%;
    gap: 20px;
    opacity: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #e4a0a0; */
}
.sub-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
     opacity: 100%;
    border-radius: 1000px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    /* background-color: #171616; */
}
.ele-sm {
    /* width: 183px; */
    /* text-align: center; */
    /* padding: 8px 12px; */
    color: #30B868;
    font-size: 16px;
    font-weight: 500px;
    opacity: 100%;
    line-height: auto;
    /* background-color: #ede9e9; */
}
.hero-content h1{
    width: 770px;;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    opacity: 90%;
    color: #FFFFFF;
    text-transform: capitalize;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* background-color: #83d2a1; */
}
.hero-content .green{
    color: #30B868;
}
.hero-content .txt{
    width: 770px;
    font-size: 20px;
    font-weight: regular;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* background-color: #83d2a1; */
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 16px;
    opacity: 100%;
}
.hero-btn .btn {
    max-width: 250px;
    height: 60px;
}
.hero-btn .btn-blank{
    padding:12px 16px;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
}

#note {
    width: 100%;
    max-width: 1600px;
    padding: 0 120px;
    /* background-color: #FFFFFF; */
    /* gap: 44px; */
    opacity: 100%;
    /* margin-bottom: 120px; */
}
#note .note-container{
    width: 85%;
    max-width: 1360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: justify;
    gap: 44px;

    /* background-color: yellow; */
}

#note .note-container .note-heading h3{
    padding-top: 50px;
    font-size: 48px;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 0px;
    color: #001931;
    opacity: 100%;
    text-transform: capitalize;
    padding-bottom: 16px;

}

.note-container, .brain-content  p {
    /* width: 00px; */
    font-size: 16px;
    font-weight: regular;
    opacity: 100%;
    color: #627382;
    line-height: 20px;
    /* text-align: justify; */
    letter-spacing: 0px;
}

.note-cards{
    /* margin-top: 44px; */
    width: 100%;
    max-width: 1360px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 24px;
    justify-content: center;
    opacity: 100%;
    /* background-color: aqua; */
}

.note-card{
    width:310px;
    height: 250px;
    /* background-color: #e11d1d; */
    border-radius: 8px;
    padding: 24px;
    opacity: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.06);
    /* gap: 16px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
}

.note-card img{
    width: 60px;
    height: 60px;
    opacity: 100%;
    margin-bottom: 16px;
    background-color: #F95555;
}

.note-card h3{
    font-size: 20px;
    font-weight: semi-bold;
    line-height: auto;
    color: #001931;
    opacity: 100%;
    margin-bottom: 8px;
    letter-spacing: 0px;
}

#brain{
    width: 100%;
    max-width: 1600px;
    padding: 120px;
    margin-bottom: 120px;
    background-color: #FFFFFF;
    opacity: 100%;
    gap: 40px;
}

#brain .brain-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    /* background-color: rgb(220, 86, 24); */
    gap: 60px;
    opacity: 100%;
}
#brain .brain-container .brain-image img{
    width: 500px;
    height: 500px;
    opacity: 100%;
    border-radius: 12px;
    /* background-color: #e11d1d; */
}
#brain .brain-container .brain-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    opacity: 100%;
    /* background-color: #e7dfef; */
}

#brain .brain-container .brain-content h6{
    font-size: 16px;
    font-weight: 500px;
    color: #30B868;
    opacity: 100%;
    line-height: 20px;
    text-transform: uppercase;
}

#brain .brain-container .brain-content h3{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    opacity: 100%;
    line-height: auto;
    text-transform: capitalize;
}

#brain .brain-container .brain-content , .brain-list {
    list-style: none;
    gap: 16px;
    opacity: 100%;
    font-size: 16px;
    font-weight: medium;
    color: #001931;
    line-height: 50px;
}

#brain .brain-container .brain-content , .brain-list li i {
    color: #30B868
}



/* .note-section{
    width: 1600px;
    height: 448px;
    gap: 44px;
    padding: 0 120px;
    background-color: #FFFFFF;

} */

/* .note-container {
    width: 1360px;
    height: 116px;

} */

/* .note-container h3{

    width: 1600px;
    height: 2908px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}  */

