*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


/* shared styles */
.btn{
    width: 164px;
    height: 44px;
    background-color: #30B868;
    border-radius: 4px;
    padding: 12px 16px;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: semi-bold;
    border:none;
    cursor: pointer;
}

/* main style  */

body{
     background-color: #FBFBFB;
     max-width: 1600px;
     font-family: "Inter", sans-serif;

}
header{
    background-color: #FFFFFF;
    padding: 16px 120px;
    font-weight: 500px;
    background-color: gray;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.nav_logo{
    width: 139px;
    height: 60;;
}
.nav_items{
    display: flex;
    gap: 32px;
    list-style: none;
}
a {
    text-decoration: none;
    color: Black;
}
